# 9router API cho Vision
NINEROUTER_API_KEY=9router_api_key
NINEROUTER_URL=http://localhost:20128/v1
MODEL_VISION=model_name
MODEL=model_name
MAX_TOKEN=12000

# TikTok RapidAPI Keys (comma separated)
TIKTOK_RAPIDAPI_KEYS=key1,key2,key3

# Web VNC Public URL config (Tùy chọn: Dùng khi có Nginx proxy domain)
VNC_PUBLIC_URL=https://openclaw.admod.vn/browser/
